## PROJECT 3 - FUTURE EXPLORATION
## MODELLING


Overview:

**PREPARATION:**

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

%matplotlib inline

import nltk
import json
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import RegexpTokenizer
import regex as re

from nltk.corpus import stopwords
from bs4 import BeautifulSoup
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression
# Import CountVectorizer and TFIDFVectorizer from feature_extraction.text.
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import BernoulliNB

In [2]:
#data = pd.read_csv('keto_wine_tf.csv')

**PREPROCESS**

**A) LOGISTIC REGRESSION MODEL**

In [ ]:
lr=LogisticRegression()

In [ ]:
lr.fit(X_train, y_train)

In [ ]:
lr.coef_

In [ ]:
np.exp(lr.coef_)

In [ ]:
for i in range(len(['A', 'B', 'C'])):
    print(np.exp(lr.coef_)[0][i], ['A', 'B', 'C'][i])

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
preds = lr.predict(X_test)

In [ ]:
# Generate confusion matrix.
# Documentation here: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html

confusion_matrix(y_test, # True values.
                 preds)  # Predicted values.

In [ ]:
# Save TN/FP/FN/TP values.

tn, fp, fn, tp = confusion_matrix(y_test, preds).ravel()

# Note that .ravel() will arrange items in a one-dimensional array.
# https://docs.scipy.org/doc/numpy/reference/generated/numpy.ravel.html

In [ ]:
#create for accuracy

**A) BASELINE ACCURACY**

In [ ]:
y_test.value_counts(normalize=True)

In [ ]:

# 1. An instance of CountVectorizer (transformer)
# 2. A LogisticRegression instance (estimator)

pipe = Pipeline([
    ('cvec', CountVectorizer()),
    ('lr', LogisticRegression())
])

**B) PIPELINE AND GRIDSEARCH**

In [ ]:
# Search over the following values of hyperparameters:
# Maximum number of features fit: 2500, 3000, 3500
# Minimum number of documents needed to include token: 2, 3
# Maximum number of documents needed to include token: 90%, 95%
# Check (individual tokens) and also check (individual tokens and bigrams).

pipe_params = {
#    'cvec__max_features': [2500, 3000, 3500],
#    'cvec__min_df': [2, 3],
#    'cvec__max_df': [.9, .95],
#    'cvec__ngram_range': [(1,1), (1,2)]
}

In [ ]:
# Instantiate GridSearchCV.

gs = GridSearchCV(pipe, # what object are we optimizing?
                  param_grid=pipe_params, # what parameters values are we searching?
                  cv=3) # 3-fold cross-validation.

In [ ]:
# Fit GridSearch to training data.
gs.fit(X_train, y_train)

In [ ]:
# What's the best score?
print(gs.best_score_)

In [ ]:
# Save best model as gs_model.

gs_model = gs.best_estimator_

In [ ]:
# Score model on training set.
gs_model.score(X_train, y_train)

In [ ]:
# Score model on testing set.
gs_model.score(X_test, y_test)

In [ ]:
tvec = TfidfVectorizer()

In [ ]:
df = pd.DataFrame(tvec.fit_transform(X_train).toarray(),
                  columns=tvec.get_feature_names())
df.head()

In [ ]:
# Instantiate logistic regression.
lr = LogisticRegression()

# Fit logistic regression.
lr.fit(X_train, y_train)

# Evaluate logistic regression.
print(f'Training Score: {lr.score(X_train, y_train)}')
print(f'Testing Score: {lr.score(X_test, y_test)}')

**C) NAIVE BAYES**

In [13]:
nb_train = pd.read_csv('nb_train.csv')
nb_test = pd.read_csv('nb_test.csv')

In [14]:
nb_train.drop(columns = ['Unnamed: 0'],inplace=True)
nb_train.head()

,10,100,11,12,13,14,15,150,16,18,...,year old,years,years ago,years old,yes,yesterday,young,youtube,youtube com,zero
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,8,2,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
nb_test.drop(columns = ['Unnamed: 0'],inplace=True)
nb_test.head()

,10,100,11,12,13,14,15,150,16,18,...,year old,years,years ago,years old,yes,yesterday,young,youtube,youtube com,zero
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
X=nb_train 
X_test=nb_test

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.33,
                                                    stratify=y,
                                                    random_state=42)

NameError: name 'X' is not defined

In [ ]:
# Import data
data = pd.read_csv('base_for_nb.csv')

# Create the X, Y, Training and Test
xtrain = training.drop('Species', axis=1)
ytrain = training.loc[:, 'Species']
xtest = test.drop('Species', axis=1)
ytest = test.loc[:, 'Species']


# Init the Gaussian Classifier
model = GaussianNB()

# Train the model 
model.fit(xtrain, ytrain)

# Predict Output 
pred = model.predict(xtest)

# Plot Confusion Matrix
mat = confusion_matrix(pred, ytest)
names = np.unique(pred)
sns.heatmap(mat, square=True, annot=True, fmt='d', cbar=False,
            xticklabels=names, yticklabels=names)
plt.xlabel('Truth')
plt.ylabel('Predicted')

In [6]:
sklearn.naive_bayes.BernoulliNB(alpha=1.0, binarize=0.0, fit_prior=True, class_prior=None)

NameError: name 'sklearn' is not defined

**D) PLACEHOLDER**